<nav>
    <ul>
        <li class="il"><a class="a" href="{{ path('main_home') }}" title="Home">ABCDaire</a></li>
        <li class="il"><a class="a" href="{{ path('main_create') }}" title="Create">Création</a></li>
    </ul>
</nav>